@page
@using RazorPokedex.Data;
@model RazorPokedex.Pages.AddPkmnModel
@{
    <h1>Add to PokéDex</h1>
    <form method="post">
        <div class="form-bootstrap-override">

            <div class="add-img-placeholder form-field">
                <img src="https://www.serebii.net/pokearth/sprites/rb/000.png" alt="placeholder" />
            </div>
            <div class="name form-field">
                <label for="name">Name</label>
                <input type="text" name="name" maxlength="20" />
            </div>
            <div class="category form-field">
                <label for="category">Category</label>
                <input type="text" name="category" maxlength="20" />
            </div>
            <div class="type type-1 form-field">
                <label for="type1">Primary Type</label>
                <input type="text" name="type1" maxlength="10" />
            </div>
            <div class="type type-2 form-field">
                <label for="type2">Secondary Type</label>
                <input type="text" name="type2" maxlength="10" />
            </div>
            <div class="height form-field">
                <label for="height">Height in centimeters</label>
                <input type="number" name="height" min="2" max="110" />
            </div>
            <div class="weight form-field">
                <label for="weight">Weight in grams</label>
                <input type="number" name="weight" min="1" max="1100" />
            </div>
            <div class="flavor-txt form-field">
                <label for="flavorTXT">FlavorTXT</label>
                <textarea name="flavorTXT"></textarea>
            </div>
            <button type="submit">Add</button>
        </div>
    </form>

}
