@page "{id:guid?}" 
@*https://www.learnrazorpages.com/miscellaneous/constraints*@

@model RazorPokedex.Pages.DexEntryDetailsModel
@{
    <h1>PokeDex Entry</h1>
    <p>Imagine that you are seeing the details for @Model.DexEntry.Name</p>
}
