@*Attribute*@
@page

@*Model binding*@
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>PokéDex</h1>

<section class="center-block add-pkmn">
    <div asp-page="/Log" class="add-cust">
        <p>Add Custom <br /> Pokémon</p>
        <a asp-area="" asp-page="/AddOrEditPkmn">+</a>
    </div>
</section>
