:root {
    --primary: #851800;
    --secondary: #D9091E;
    --accent: #500AF8;

    /* ============================================
                Types and Colors Key
    ============================================*/
    --bug: #C3D21F;
    --electric: #FEE844;
    --fire: #FA5442;
    --grass: #86D04C;
    --normal: #B8B7A9;
    --rock: #CEBD72;
    --dark: #8D6855;
    --fairy: #F9ADFF;
    --flying: #79A3FF;
    --ground: #F0CF5C;
    --poison: #AA5DA1;
    --steel: #C4C2D9;
    --dragon: #8975FF;
    --fighting: #A75545;
    --ghost: #7975D7;
    --ice: #96F1FF;
    --psychic: #FA64B5;
    --water: #56B0FF;
}

* {
    box-sizing: border-box;
}

nav {
    background-color: var(--primary);
}

.nav-link {
    margin-right: 1rem;
    border-radius: .5rem;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.pokeball-icon {
    margin-right: 1rem;
}

.add-pkmn {
    background-color: var(--primary);
    border-radius: 1rem;
    color: white;
    display: flex;
    padding: 2rem;
}

.add-cust {
    margin: auto;
    text-align: center;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-cust > p {
    margin: 0;
}

.add-cust > a {
    text-decoration: none;
    color: white;
    font-size: x-large;
    margin: 0;
    border: solid white 1px;
    border-radius: .5rem;
    height: 42px;
    width: 48px;
}

.add-cust > a:hover,
.nav-link:hover {
    background-color: var(--secondary);
}

.add-cust > a:active,
.nav-link:active {
    background-color: var(--accent);
}

.type-icon {
    display: inline-block;
    padding: 3px;
    font-family: 'Josefin Sans', sans-serif !important;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900 !important;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.61);
    border: 3px solid white;
    border-radius: 17px !important;
    box-shadow: 0px 0px 4px 3px #000000;
    margin-bottom: 0;
}

.bug {
    background-color: var(--bug);
}

.electric {
    background-color: var(--electric);
}

.fire {
    background-color: var(--fire);
}

.grass {
    background-color: var(--grass);
}

.normal {
    background-color: var(--normal);
}

.rock {
    background-color: var(--rock);
}

.dark {
    background-color: var(--dark);
}

.fairy {
    background-color: var(--fairy);
}

.flying {
    background-color: var(--flying);
}

.ground {
    background-color: var(--ground);
}

.poison {
    background-color: var(--poison);
}

.steel {
    background-color: var(--steel);
}

.dragon {
    background-color: var(--dragon);
}

.fighting {
    background-color: var(--fighting);
}

.ghost {
    background-color: var(--ghost);
}

.ice {
    background-color: var(--ice);
}

.psychic {
    background-color: var(--psychic);
}

.water {
    background-color: var(--water);
}